.app-header {
	padding: 100px 0px;
	background: url('../../assets/food.png') repeat;
}

.title-banner {
	background: #2b201a;
	padding: 50px;
	color: #ecddc7;
	position: relative;
}

.title-banner::before {
	content: '';
	position: absolute;
	top: 20px;
	left: 20px;
	border: 2px solid #ecddc7;
	width: calc(100% - 48px);
	height: calc(100% - 48px);
}

.title-text {
	font-size: 60px;
	margin-bottom: 25px;
}