.result-card {
	background: #fff;
	/* border: 2px solid #2b201a; */
	padding: 20px;
	display: inline-block;
}

.result-card a {
	color: #c54305; 
	/* opther option #a53500 */
}

.result-card a:hover, .result-card a:focus, .result-card a:active {
	color: #c54305;
	text-decoration: underline;
}

.img-container {
	position: relative;
	overflow: hidden;
}

.img-container::before {
	content: '';
	position: absolute;
	top: 20px;
	left: 20px;
	border: 2px solid #fff;
	width: calc(100% - 48px);
	height: calc(100% - 48px);
}

.resto-header {
	display: flex;
	align-items: center;
}

.resto-name {
	margin-right: 15px;
}